@font-face {
  font-family: "HelveticaNeuePro";
  src: url(../fonts/HelveticaNeueLTPro-Bd.woff2) format("woff2");
}
@font-face {
  font-family: "HelveticaNeuePro-Thin-Italic";
  src: url(../fonts/HelveticaNeueLTProIt.woff2) format("woff2");
}
@font-face {
  font-family: "BethanyElingston";
  src: url(../fonts/Bethany-Elingston-BF64722e23853b3.woff2) format("woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: fixed
      linear-gradient(#fff, #fff 6px, transparent 6px, transparent),
    fixed linear-gradient(transparent, #fff 100%),
    fixed
      repeating-linear-gradient(
        #efefef,
        #efefef 1px,
        transparent 1px,
        transparent 40px
      ),
    fixed
      repeating-linear-gradient(
        to right,
        #efefef,
        #efefef 1px,
        transparent 1px,
        transparent 40px
      );
}
article {
  display: flex;
  align-self: center;
  flex-direction: column;
  height: 100vh;
}
hgroup {
  align-self: center;
}
h1 {
  width: fit-content;
  font-family: "BethanyElingston", sans-serif;
  font-size: 78px;
  letter-spacing: 0px;
  color: #1f509a;
  text-align: center;
  padding: 120px 0 5px 0;
}
h3 {
  font-family: "BethanyElingston", sans-serif;
  font-size: 18px;
  color: #360000;
  padding: 0;
  letter-spacing: 0.5px;
}
.div00 {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  gap: 5px;
  padding-top: 20px;
}
.div01 {
  display: flex;
  flex-direction: column;
  flex: 2;
  gap: 20px;
}
.div02 {
  display: flex;
  flex: 1;
}
article strong {
  font-family: "BethanyElingston", sans-serif;
  font-size: 32px;
  color: #360000;
  letter-spacing: 0.5px;
}
article p {
  font-family: "BethanyElingston", sans-serif;
  color: #360000;
  letter-spacing: 0.3px;
}
article img {
  width: 240px;
  height: 240px;
}

.texto-copy1 {
  text-align: center;
  padding: 0 150px 50px 150px;
}
.texto-copy1 p {
  padding: 5px;
  font-family: "HelveticaNeuePro", sans-serif;
  letter-spacing: 0.3px;
  font-size: 36px;
}
.texto-copy1 p:nth-child(1) {
  padding-bottom: 20px;
  font-size: 40px;
}
.texto-copy1 p:nth-child(7) {
  padding: 20px 0 20px 5px;
}
.texto-copy1 p:nth-child(11) {
  padding: 20px 0 20px 5px;
}
.texto-copy1 p:nth-child(18) {
  padding: 20px 0 20px 5px;
}
.texto-copy1 p:nth-child(25) {
  padding: 20px 0 0 5px;
}

a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}
.botones {
  text-align: right;
  width: 100%;
}
button {
  font-family: "BethanyElingston", sans-serif;
  background-color: #fff;
  color: #360000;
  border: 1px solid #360000;
  border-radius: 7px;
  padding: 10px;
  margin: 10px 20px 150px 0;
  animation: appear linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 15%;
}
@keyframes appear {
  from {
    opacity: 0;
    scale: 0.7;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
button:hover {
  background-color: #360000;
  color: #fff;
  box-shadow: 0 0 20px #360000b7;
}

@media (max-width: 440px) {
  article {
    height: 38vh;
  }
  h1 {
    font-size: 32px;
    padding: 80px 0 5px 0;
  }
  h3 {
    font-size: 12px;
  }
  .div00 {
    padding: 30px 50px 0 50px;
  }
  .div01 {
    gap: 10px;
  }
  article strong {
    font-size: 16px;
  }
  article p {
    font-size: 12px;
  }
  article img {
    width: 80px;
    height: 80px;
  }
  .texto-copy1 {
    padding: 0 50px;
    font-size: 8px;
  }
  button {
    z-index: 2;
    margin-top: 50px;
  }
}
